body {
  background-color: #00afb9;
  color: #003c4e;
  height: 100vw;
}

.FixedContainer {
  width: 90%;
  background-color: #fdfcdc;
  margin: auto;
  margin-top: 10%;
  border: 10px solid #d9fdff;
  border-radius: 5%;
}

.FirtsNav {
  border-radius: 39% 36px 39% 5px;
  display: flex;
  margin: auto;
  margin-bottom: 5%;
  width: 100%;
  height: 5%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5261292016806722) 0%,
    rgba(255, 255, 255, 0.9154849439775911) 34%,
    rgba(51, 160, 179, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  justify-content: space-between;
  align-items: center;
}

.FirtsNav img {
  width: 15%;
}

.FirtsNav p {
  font-size: 20px;
  margin-right: 5%;
}

.NameApresentation {
  align-items: center;
  display: flex;
  flex-direction: revert;
  justify-content: space-evenly;
}
.NameApresentation-Subtitle {
  width: 50%;
}

.NameApresentation-Subtitle h1,
.NameApresentation-Subtitle h2 {
  text-align: center;
}

.NameApresentation-Subtitle h1 {
  margin-bottom: 6%;
  font-size: 3em;
}

.NameApresentation-Subtitle h3 {
  font-size: 2em;
}

@media only screen and (max-width: 700px) {
  .NameApresentation-Subtitle h1 {
    font-size: 25px;
  }
}

.NameApresentation img {
  border-radius: 35%;
  width: 25%;
  align-self: flex-end;
}

.Divisior {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: center;
}

.Bar1,
.Bar2,
.Bar3 {
  background-color: #00aeb8;
  height: 0.2em;
  border-radius: 5px;
  width: 6em;
  margin: 2em 2em;
}

@media only screen and (max-width: 470px) {
  .Bar1,
  .Bar2,
  .Bar3 {
    margin: 1em 2em;
  }
}

.Bar2 {
  height: 0.3em;
}

.Background-Divisor img {
  margin: auto;
}

.Secction2 {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  width: 100%;
}

.secctions {
  padding: 0px;
  border-radius: 4%;
  box-sizing: border-box;
  background-color: #beddcf;
  margin: 2%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.8em;
}

@media only screen and (max-width: 470px) {
  .secctions {
    width: 45%;
    padding: 4%;
    font-size: 1em;
  }
}

.secctions img {
  width: 40%;
  text-align: center;
}

.secctions .projects {
  width: 52%;
}

.secctions .experience {
  width: 50%;
  height: 50%;
}

.experience {
  height: 77%;
}

.AboutMe p {
  text-align: end;
  margin-left: 30%;
  width: 60%;
  font-size: 1.8em;
}

.AboutMe h3,
h3 {
  color: #f07167;
  margin-bottom: 3%;
  font-size: 2em;
  margin-left: 15%;
  margin-top: 5%;
}

.Skills {
  font-size: 1.5em;
  text-align: justify;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.progress-label {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 0.8em;
}

.Skills-HTMLCSS {
  align-self: flex-start;
  margin-top: 5%;
  width: 50%;
}

.Skills-Python {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 10%;
  align-self: flex-end;
  width: 50%;
}

.Skills-DataBase {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 50%;
  margin-top: 5%;
}

.Skills-ProgrammingLogic {
  width: 50%;
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-end;
}

progress {
  display: block;
  width: 100%;
  accent-color: #009688;
}
