body {
  background-color: #00afb9;
  color: #003c4e;
  height: 100vw;
}

.FixedContainer {
  width: 90%;
  background-color: #fdfcdc;
  margin: auto;
  margin-top: 10%;
  border: 10px solid #d9fdff;
  border-radius: 5%;
}

.FirtsNav {
  background-color: #00aeb8;
  border-radius: 39% 36px 39% 5px;
  width: 100%;
  height: 8%;
}

.NameApresentation {
  align-items: center;
  display: flex;
  flex-direction: revert;
  justify-content: space-evenly;
}
.NameApresentation-Subtitle {
  width: 50%;
}

.NameApresentation-Subtitle h1,
h3 {
  margin: 3% 0%;
  text-align: center;
}

img {
  border-radius: 35%;
  width: 25%;
  align-self: flex-end;
}

.Divisior {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Bar1,
.Bar2,
.Bar3 {
  background-color: #00aeb8;
  height: 0.3em;
  border-radius: 5px;
  width: 6em;
  margin: 3em;
}

.Bar2 {
  height: 0.4em;
}

.Secction2 {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  width: 100%;
}

.secctions {
  border-radius: 4%;
  padding: 4%;
  box-sizing: border-box;
  background-color: #00afb9;
  margin: 2%;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.secctions img {
  width: 90%;
}

.experience {
  height: 77%;
}
